<div class="container py-5">
  <div class="section-background-principal"></div>
</div>




    <div class="container py-5">
      <div class="row text-center align-items-center">
        <div class="head-parrafo">
          <p>
            Este es un ejemplo de una Página Web administrable para
            <strong>Cafeterías, bebidas o Restaurantes.</strong>
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
          <div class="separator">
            <div class="line"></div>
            <img
              src="../../../assets/img/pngegg.png"
              width="50"
              height="50"
              alt="Separador"
              class="img-fluid"
            />
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container py-5">
      <div class="row text-center align-items-center">
        <div class="col-lg-6">
          <ul class="list-group list-group-flush text-start">
            <li class="list-group-item">
              La Página Web Administrable está desarrollada en Angular 17.
            </li>
            <li class="list-group-item">
              Incluye un Formulario de Consultas y un Mapa de ubicación.
            </li>
            <li class="list-group-item">
              Al ser una Página Web Administrable, incluye video tutorial para
              su actualización.
            </li>
            <li class="list-group-item">Se pueden crear Landing Pages.</li>
            <li class="list-group-item">Se puede quitar y agregar páginas.</li>
            <li class="list-group-item">
              El diseño es Responsive, es decir la página web se adapta a Pc,
              Tablet y Celulares.
            </li>
            <li class="list-group-item">
              Aun no se incluye enlaces a Redes Sociales y Botón para chat
              WhatsApp.
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <img
            src="../../../assets/img/nosotros-1.jpg"
            alt="Roasted Coffee Beans"
            class="img-fluid rounded"
          />
        </div>
      </div>
    </div>

    <div class="container py-5">
      <div class="section-background"></div>
    </div>

    <div class="container py-5">
      <div class="row text-center align-items-center">
        <div class="col-lg-6">
          <img
            src="../../../assets/img/nosotros-1.jpg"
            alt="Roasted Coffee Beans"
            class="img-fluid rounded"
          />
        </div>

        <div class="col-lg-6">
          <ul class="list-group list-group-flush text-start">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
              quaerat quam tempora illo? Aspernatur quam quas minima pariatur
              voluptates id possimus? Repellat tempore natus error libero beatae
              at explicabo obcaecati! Pariatur, dolor ratione nisi a quos
              placeat exercitationem quia aliquam modi accusamus assumenda sit
              delectus blanditiis architecto quibusdam laborum facilis atque
              minima quae provident doloribus nesciunt doloremque repellendus.
              Iste, quas? Magni soluta recusandae, repellat officiis quos ipsam
              deleniti atque est ullam sunt perferendis porro modi autem minima
              corporis explicabo cupiditate optio, quo perspiciatis excepturi,
              illum veritatis esse eum. Sunt, natus? Numquam est dolor atque
              molestiae repudiandae facilis reprehenderit quidem sapiente,
              incidunt aut tempora delectus mollitia ullam soluta, odio et alias
              quasi quae ratione tempore vel qui recusandae nemo. Quas,
              officiis! Quam tempora doloribus quo! Sed quas accusamus culpa
              adipisci dolor magni perspiciatis, cupiditate dignissimos harum
              perferendis ab tempora quae quaerat exercitationem vero nam
              repellendus. Placeat dolorem quae tempore cum optio?
            </p>
          </ul>
        </div>
      </div>
    </div>

    <div class="container py-5 text-center">
      <a class="btn btn-secondary btn-custom" [routerLink]="'/lacarta'"
        >CONOCE NUESTRA CARTA</a
      >
    </div>

    <div class="container py-5 text-center">
      <div class="parrafo-interes">
        <p>
          ¿Te interesa tener una Página Web como esta? puedes ver mas info en:
          <a href="#">www.cafecitoconpan.com</a>
        </p>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h5>HORARIOS</h5>
            <ul class="list-unstyled">
              <li>Lunes - Viernes: 7am - 6pm</li>
              <li>Sábado: 8am - 8pm</li>
              <li>Domingo: 8am - 6pm</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>ENCUÉNTRANOS EN</h5>
            <ul class="list-unstyled">
              <li>Dirección: Av. Café 233 Miraflores Lima Perú</li>
              <li>Tel: 999-999-999</li>
              <li>Email: infdweb.com</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>SÍGUENOS</h5>
            <ul class="list-unstyled">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">YouTube</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <router-outlet></router-outlet>

